﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ECDS Dormitory Basic</title>

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>    
    <!-- end: CSS -->   
    
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>EC Dormitory - Institute of Learning and Linguistics, Dehradun India.</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">                       
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Arun George
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                        <li><a href="messages.html"><i class="icon-envelope"></i><span class="hidden-tablet"> Enquiry</span></a></li>
                        <li><a href="tasks.html"><i class="icon-tasks"></i><span class="hidden-tablet"> Checkin</span></a></li>
                        <li><a href="ui.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> Pay Advance</span></a></li>
                        <li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Checkout</span></a></li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Setup Masters</span><span class="label label-important"> 3 </span></a>
                            <ul>
                                <li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Floors</span></a></li>
                                <li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Rooms</span></a></li>
                                <li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Users</span></a></li>
                            </ul>
                        </li>
                        <li><a href="form.html"><i class="icon-edit"></i><span class="hidden-tablet"> Housekeeping</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span10">

                @RenderBody()


                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Dashboard</a></li>
                </ul>

                <div class="row-fluid">

                  

                </div>

            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->   

    <div class="clearfix"></div>

    <footer>
        <p>
            <span style="text-align:left;float:left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</span>
            <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="#">Metro</a></span>
        </p>

    </footer>

    <!-- start: JavaScript-->

    <script src="~/Scripts/metro/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/metro/jquery-migrate-1.0.0.min.js"></script>
    <script src="~/Scripts/metro/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/Scripts/metro/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/metro/modernizr.js"></script>
    <script src="~/Scripts/metro/bootstrap.min.js"></script>
    <script src="~/Scripts/metro/jquery.cookie.js"></script>
    <script src='~/Scripts/metro/fullcalendar.min.js'></script>
    <script src='~/Scripts/metro/jquery.dataTables.min.js'></script>
    <script src="~/Scripts/metro/excanvas.js"></script>
    <script src="~/Scripts/metro/jquery.flot.js"></script>
    <script src="~/Scripts/metro/jquery.flot.pie.js"></script>
    <script src="~/Scripts/metro/jquery.flot.stack.js"></script>
    <script src="~/Scripts/metro/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/metro/jquery.chosen.min.js"></script>
    <script src="~/Scripts/metro/jquery.uniform.min.js"></script>
    <script src="~/Scripts/metro/jquery.cleditor.min.js"></script>
    <script src="~/Scripts/metro/jquery.noty.js"></script>
    <script src="~/Scripts/metro/jquery.elfinder.min.js"></script>
    <script src="~/Scripts/metro/jquery.raty.min.js"></script>
    <script src="~/Scripts/metro/jquery.iphone.toggle.js"></script>
    <script src="~/Scripts/metro/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Scripts/metro/jquery.gritter.min.js"></script>
    <script src="~/Scripts/metro/jquery.imagesloaded.js"></script>
    <script src="~/Scripts/metro/jquery.masonry.min.js"></script>
    <script src="~/Scripts/metro/jquery.knob.modified.js"></script>
    <script src="~/Scripts/metro/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/metro/counter.js"></script>
    <script src="~/Scripts/metro/retina.js"></script>
    <script src="~/Scripts/metro/custom.js"></script>
    <!-- end: JavaScript-->

    <script src="~/Scripts/util/net.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>